.project {
    height: 200px;
    border-radius: 4px;
    .content {
        height: 200px;
        .avatar {
            height: 200px;
            overflow: hidden;
            img {
                height: 100%;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        }
        .info {
            padding: 25px;
            .name {
                font-size: 25px;
                font-weight: bold;
                color: yellowgreen;
            }
            .description {
                font-size: 16px;
                line-height: 24px;
                margin-top: 6px;
            }
            .note {
                font-size: 14px;
                color: lightblue;
            }
        }
    }
    
}